# Question 1

Consider the following Python module
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [53]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return (a + 2)

In [54]:
b()
b()
b()
print(a)

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [52]:
def file_length(file_name):
    file = None
    
    try:
        file = open(file_name)
    except FileNotFoundError as e:
        print(f"File {file_name} not found.")
    
    if file is not None:
        contents = file.read()
        file.close()
        print(len(contents))

file_length('Filelength.txt')
file_length('ilelength.txt')

123
File ilelength.txt not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [6]:
class Marsupial:
    def __init__(self):
        self.contents = []
    def put_in_pouch(self, item: str):
        self.contents.append(item)
    def pouch_contents(self):
        return self.contents
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
    
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    
    
    
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return "I am a Kanagroo locaterd at coordinates("+str(self.x)+","+str(self.y)+")"
    
k = Kangaroo(0,0)

print(k)
#
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

#I just tried to change both coordinates x and Y
k.jump(0,2)
k.jump(0,1)

print(k)

I am a Kanagroo locaterd at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo locaterd at coordinates(3,0)
I am a Kanagroo locaterd at coordinates(3,3)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [9]:
n = int(input("Enter any Integer \n"))
print("Collatz",n)
def collatz(n):
    
    arr =  [n]
    for i in arr:
        print(i)
    if n == 1 :
        return [1]                 
    elif n % 2 == 0 :
         
        arr.extend(collatz(n//2))     
    else:
        arr.extend(collatz(n*3+1))    
    return()
 
collatz(n)

Enter any Integer
10
Collatz 10
10
5
16
8
4
2
1

()

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [11]:
def binary(n):
    n = int(input("Enter any Integer \n"))
    if n <= 0:
        print('Enter non negtive number')
    else:
        x = bin(n)
        print("Binary Value of Integer" ,x.removeprefix("0b")) 
        binary(n-1)
binary(n)

Enter any Integer
9
Binary Value of Integer 1001
Enter any Integer
3
Binary Value of Integer 11
Enter any Integer
1
Binary Value of Integer 1
Enter any Integer
0
Enter non negtive number

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [14]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        super().__init__()
        self.current_start_tag = ''
        self.current_data = ''
        self.current_end_tag = ''
        self.tag_indents = {'h1':'','h2':' ','h3':'  ','h4':'   ','h5':'    ','h6':'     '}
    
    def handle_starttag(self, tag, attrs):
#         print("Start tag:", tag)
#         for attr in attrs:
#             print("     attr:", attr)
        self.current_start_tag = tag
            
    def handle_endtag(self, tag):
#         print("End tag  :", tag)
        self.current_end_tag = tag
        if self.current_start_tag in ['h1','h2','h3','h4','h5','h6'] and self.current_start_tag == self.current_end_tag:
            print(f"{self.tag_indents[self.current_start_tag]}{self.current_data}")
        
    def handle_data(self, data):
#         print("Encountered some data  :", data)
        self.current_data = data
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
content
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [20]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen


class Collector(HTMLParser):
   

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links
    
allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()


webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test3.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test3.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

|City   |Country             |Season    |Tempreture(c)  |Rainfall(mm) |
|:------|--------------------|----------|---------------|------------:|
|Mumbai |India               |Winter    |24.8           |5.9          |
|Mumbai |India               |Spring    |28.4           |16.2         |
|Mumbai |India               |Summer    |27.9           |1549.4       |
|Mumbai |India               |Fall      |27.6           |346.0        |
|Mumbai |India               |Winter    |24.8           |5.9          |
|London |United Kingdom      |Winter    |4.2            |207.7        |
|London |United Kingdom      |Spring    |8.3            |169.6        |
|London |United Kingdom      |Summer    |15.7           |157.0        |
|London |United Kingdom      |Fall      |10.4           |218.5        |
|Cairo  |Egypt               |Winter    |13.6           |16.5         |
|Cairo  |Egypt               |Spring    |20.7           |6.5          |
|Cairo  |Egypt               |Summer    |27.7           |0.1          |
|Cairo  |Egypt               |Fall      |22.2           |4.5          |

In [38]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()

In [39]:
cur.execute("CREATE TABLE CITY_DATA (City text, Country text, Season text, Temperature float, Rainfall float)")
data=[('Mumbai', 'India','Winter',24.8, 5.9),
      ('Mumbai','India','Spring',28.4,16.2),
      ('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),
      ('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),
      ('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),
      ('Cairo','Egypt','Winter',13.6,16.5),
      ('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),
      ('Cairo','Egypt','Fall',22.2,4.5)]
for cities in data:
    cur.execute("INSERT INTO CITY_DATA VALUES (?,?,?,?,?)",cities)
    con.commit() # Commit the changes

In [40]:
#a) All the temperature data.
cur.execute('SELECT Temperature FROM CITY_DATA')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [41]:
#b) All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM CITY_DATA')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [42]:
#c) All the records for India.
cur.execute('SELECT * FROM CITY_DATA WHERE Country LIKE "India%"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [43]:
#d) All the Fall records.
cur.execute('SELECT * FROM CITY_DATA WHERE Season LIKE "Fall%"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [44]:
 #e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City, Country, Season FROM CITY_DATA WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [45]:
#f) The city and country for which the average Fall temperature is above 20 degrees,in increasing temperature order.
cur.execute('SELECT City, Country,Temperature FROM CITY_DATA WHERE Temperature > 20 ORDER BY Temperature DESC')
cur.fetchall()

[('Mumbai', 'India', 28.4),
 ('Mumbai', 'India', 27.9),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.6),
 ('Mumbai', 'India', 24.8),
 ('Cairo', 'Egypt', 22.2),
 ('Cairo', 'Egypt', 20.7)]

In [46]:
#g) The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) AS RF, City FROM CITY_DATA WHERE City LIKE "Cairo" GROUP BY City')
cur.fetchall()

[(27.6, 'Cairo')]

In [47]:
#h) The total rainfall for each season.
cur.execute('SELECT SUM(Rainfall),Season FROM CITY_DATA GROUP BY Season')
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [48]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_words = [a.upper() for a in words] #list the words in uppercase
print (list_words)
list_words = [b.lower() for b in words]  #list the words in lowecase
print (list_words)
list_words = [len(c) for c in words] #the list of lengths of words in list words).
print (list_words)
list_words = [(d.upper(),d.lower(),len(d)) for d in words]  #list containing the word in uppercase and lowercase and the length of the word
print (list_words)
list_words = [e for e in words if len(e)>=4] #list of words contanining 4 or more characters
print (list_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']